* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.outline_btn {
    color: #B5121B;
    border: 1px solid #B5121B;
    border-radius: 25px;
}

.outline_btn:hover,
.outline_btn:focus,
.outline_btn:active {
    color: #fff !important;
    background-color: #B5121B !important;
    border: 1px solid #B5121B !important;
}

.main_color {
    color: #B5121B;
}