* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Literata-Regular';
    src: url('../fonts/Literata/Literata-Regular.ttf') format('ttf');
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('ttf');
    font-style: normal;
    font-display: auto;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Literata-Regular';
}

.outline_btn {
    color: #B5121B;
    border: 1px solid #B5121B;
    border-radius: 25px;
}

.outline_btn:hover,
.outline_btn:focus,
.outline_btn:active {
    color: #fff !important;
    background-color: #B5121B !important;
    border: 1px solid #B5121B !important;
}

.main_color {
    color: #B5121B;
}

a.main_color:hover {
    color: #B5121B;
}

.black_font {
    color: #000;
}

.small_font {
    font-size: .85em;
}

.capitalize {
    text-transform: capitalize;
}

.rel_pos {
    position: relative;
}

.abs_pos {
    position: absolute;
}

.main_btn,
.main_btn:hover,
.main_btn:active,
.main_btn:focus {
    background-color: #B5121B !important;
    border: #B5121B !important;
    color: #fff !important;
}

.form_holder {
    background: #ffffff;
    border-radius: 0px 6.51921px 6.51921px 0px;
}

.mid_grey {
    color: #626262;
}

a.mid_grey:hover {
    color: #B5121B;
}

.light_grey {
    color: #A1A1A5;
}


/* input style */

.login-box .user-box {
    position: relative;
}

.login-box .user-box input,
.login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #a1a1a5;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #a1a1a5;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    /* color: #a1a1a5; */
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label,
.login-box .user-box textarea:focus~label,
.login-box .user-box textarea:valid~label {
    top: -20px;
    left: 0;
    /* color: #a1a1a5; */
    font-size: 12px;
}