* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Literata-Regular";
    src: url("../fonts/Literata/Literata-Regular.ttf") format("ttf");
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato/Lato-Regular.ttf") format("ttf");
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
    font-style: normal;
    font-display: auto;
}

body {
    overflow-x: hidden;
}

.outline_btn {
    color: #b5121b;
    border: 1px solid #b5121b;
    border-radius: 25px;
}

.outline_btn:hover,
.outline_btn:focus,
.outline_btn:active {
    color: #fff !important;
    background-color: #b5121b !important;
    border: 1px solid #b5121b !important;
}

.main_color {
    color: #b5121b;
}

.rent_bg,
.sale_bg {
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}

.rent_bg {
    background-color: #b5121b;
}

.sale_bg {
    background-color: #000;
}

.price {
    font-weight: 600;
    font-size: 1.3em;
    font-family: "Lato-Regular";
}

.card {
    width: 100% !important;
}

a.main_color:hover {
    color: #b5121b;
}

.black_font {
    color: #000;
}

.white_color {
    color: #fff;
}

.small_font {
    font-size: 0.85em;
}

.lg_font {
    font-size: 1.2em;
}

.capitalize {
    text-transform: capitalize;
}

.rel_pos {
    position: relative;
}

.abs_pos {
    position: absolute;
}

.main_btn,
.main_btn:hover,
.main_btn:active,
.main_btn:focus {
    background-color: #b5121b !important;
    border: #b5121b !important;
    color: #fff !important;
}

.form_holder {
    background: #ffffff;
    border-radius: 0px 6.51921px 6.51921px 0px;
}

.mid_grey {
    color: #626262;
}

a.mid_grey:hover {
    color: #b5121b;
}

.light_grey {
    color: #a1a1a5;
}

.swiper-pagination-bullet-active {
    background-color: #b5121b;
}


/* input style */

.login-box .user-box {
    position: relative;
}

.login-box .user-box input,
.login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #a1a1a5;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #a1a1a5;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    /* color: #a1a1a5; */
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label,
.login-box .user-box textarea:focus~label,
.login-box .user-box textarea:valid~label {
    top: -20px;
    left: 0;
    /* color: #a1a1a5; */
    font-size: 12px;
}


/* START GALLERY */

#app .lb-grid.itemphoto {
    display: flex;
    flex-wrap: wrap;
}

.lb-item {
    position: relative;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.lb-grid-2 .lb-item,
.lb-grid-3 .lb-item:first-child,
.lb-grid-4 .lb-item:first-child {
    height: 280px;
}

.lb-grid-4 .lb-item:nth-child(2),
.lb-grid-4 .lb-item:nth-child(3),
.lb-grid-4 .lb-item:nth-child(4),
.lb-grid-5 .lb-item:nth-child(3),
.lb-grid-5 .lb-item:nth-child(4),
.lb-grid-5 .lb-item:nth-child(5) {
    height: 280px;
}

.lb-grid-4 .lb-item:nth-child(3),
.lb-grid-5 .lb-item:nth-child(4) {
    top: 0;
}

.lb-grid-4 .lb-item {
    margin-bottom: 32px;
    margin-right: 11px;
    margin-left: 11px;
    width: calc(51% - 32px);
    border: 0;
}

.lb-more {
    border-radius: 8px;
}

.lb-grid-4 .lb-item:nth-child(2),
.lb-grid-4 .lb-item:nth-child(4) {
    margin-right: 0;
}

.lb-grid-4 .lb-item:nth-child(3),
.lb-grid-4 .lb-item:nth-child(1) {
    margin-left: 0;
}

.light_grey_bg {
    background-color: #f5f5f5;
}

.white_box {
    background-color: #fff;
    border-radius: 8px 8px 0px 0px;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before,
.fa-angle-right:before,
.fa-angle-left:before {
    font-family: "fontawesome" !important;
}

a.main_color,
a.black_font {
    text-decoration: none;
}

a.black_font:hover {
    color: #b5121b;
}


/* 
.img_container img {
    object-fit: contain;
    margin: auto;
    display: block;
    width: auto;
    height: 250px;
    padding: 15px;
} */

.img_container {
    width: 100%;
    height: 210px;
    background-size: cover;
    background-position: center center;
}


/*pagination */

.page-link,
.page-link:hover {
    width: 20px;
    height: 20px;
    background: #c8c8c8;
    border-radius: 50%;
    padding: 0;
    border: 0;
    margin: 12px;
    color: #b5121b;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

.paginate {
    line-height: 1.3;
    font-size: 14px;
}

.page-item {
    align-self: flex-end;
}

.active>.page-link,
.page-link.active {
    background: #b5121b;
    border: 0;
}

.disabled>.page-link,
.page-link.disabled {
    background: #c8c8c8;
}

.card-body .col-12 span.small_font {
    height: 45px;
}

.loader_container {
    height: 300px;
}

.loader_container div {
    height: 100%;
}

@media (max-width: 767px) {
    #app .lb-grid.itemphoto {
        display: block;
    }
    .lb-grid-4 .lb-item {
        width: 100%;
    }
}